In [129]:
import pandas as pd

In [130]:
games_details_pd = pd.read_csv('games_details.csv')
games_details_pd.drop(columns=['COMMENT', 'TEAM_CITY', 'TEAM_ABBREVIATION', 'START_POSITION', 'PTS', 'PLUS_MINUS'], inplace=True)
games_details_pd.info()

C:\Users\pc\AppData\Local\Temp\ipykernel_484\3286034938.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details_pd = pd.read_csv('games_details.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668628 entries, 0 to 668627
Data columns (total 23 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   GAME_ID      668628 non-null  int64
 1   TEAM_ID      668628 non-null  int64
 2   PLAYER_ID    668628 non-null  int64
 3   PLAYER_NAME  668628 non-null  object
 4   NICKNAME     53037 non-null   object
 5   MIN          558938 non-null  object
 6   FGM          558938 non-null  float64
 7   FGA          558938 non-null  float64
 8   FG_PCT       558938 non-null  float64
 9   FG3M         558938 non-null  float64
 10  FG3A         558938 non-null  float64
 11  FG3_PCT      558938 non-null  float64
 12  FTM          558938 non-null  float64
 13  FTA          558938 non-null  float64
 14  FT_PCT       558938 non-null  float64
 15  OREB         558938 non-null  float64
 16  DREB         558938 non-null  float64
 17  REB          558938 non-null  float64
 18  AST          558938 non-null  float64
 19  STL          558938 non-null  float64
 20  BLK          558938 non-null  float64
 21  TO           558938 non-null  float64
 22  PF           558938 non-null  float64
dtypes: float64(17), int64(3), object(3)
memory usage: 117.3+ MB

In [131]:
games_details_pd['NICKNAME'] = games_details_pd['NICKNAME'].fillna(games_details_pd['PLAYER_NAME'].apply(lambda x: x.split()[0]+"_on_bench"))

In [132]:
games_details_pd.isna().sum()

GAME_ID             0
TEAM_ID             0
PLAYER_ID           0
PLAYER_NAME         0
NICKNAME            0
MIN            109690
FGM            109690
FGA            109690
FG_PCT         109690
FG3M           109690
FG3A           109690
FG3_PCT        109690
FTM            109690
FTA            109690
FT_PCT         109690
OREB           109690
DREB           109690
REB            109690
AST            109690
STL            109690
BLK            109690
TO             109690
PF             109690
dtype: int64

In [155]:
games_details_pd.fillna(0, inplace=True)

In [156]:
games_details_pd

,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,NICKNAME,MIN,FGM,FGA,FG_PCT,FG3M,...,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF
0,22200477,1610612759,1629641,Romeo Langford,Romeo,18:06,1.0,1.0,1.000,0.0,...,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0
1,22200477,1610612759,1631110,Jeremy Sochan,Jeremy,31:01,7.0,14.0,0.500,2.0,...,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0
2,22200477,1610612759,1627751,Jakob Poeltl,Jakob,21:42,6.0,9.0,0.667,0.0,...,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0
3,22200477,1610612759,1630170,Devin Vassell,Devin,30:20,4.0,13.0,0.308,1.0,...,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0
4,22200477,1610612759,1630200,Tre Jones,Tre,27:44,7.0,12.0,0.583,1.0,...,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,202706,Jordan Hamilton,Jordan_on_bench,19,4.0,9.0,0.444,3.0,...,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0
668624,11200005,1610612743,202702,Kenneth Faried,Kenneth_on_bench,23,7.0,11.0,0.636,0.0,...,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0
668625,11200005,1610612743,201585,Kosta Koufos,Kosta_on_bench,15,3.0,7.0,0.429,0.0,...,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0
668626,11200005,1610612743,202389,Timofey Mozgov,Timofey_on_bench,19,1.0,1.0,1.000,0.0,...,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0
668627,11200005,1610612743,201951,Ty Lawson,Ty_on_bench,27,3.0,6.0,0.500,0.0,...,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0

In [134]:
games = pd.read_csv('games.csv')
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     26651 non-null  object
 1   GAME_ID           26651 non-null  int64
 2   GAME_STATUS_TEXT  26651 non-null  object
 3   HOME_TEAM_ID      26651 non-null  int64
 4   VISITOR_TEAM_ID   26651 non-null  int64
 5   SEASON            26651 non-null  int64
 6   TEAM_ID_home      26651 non-null  int64
 7   PTS_home          26552 non-null  float64
 8   FG_PCT_home       26552 non-null  float64
 9   FT_PCT_home       26552 non-null  float64
 10  FG3_PCT_home      26552 non-null  float64
 11  AST_home          26552 non-null  float64
 12  REB_home          26552 non-null  float64
 13  TEAM_ID_away      26651 non-null  int64
 14  PTS_away          26552 non-null  float64
 15  FG_PCT_away       26552 non-null  float64
 16  FT_PCT_away       26552 non-null  float64
 17  FG3_PCT_away      26552 non-null  float64
 18  AST_away          26552 non-null  float64
 19  REB_away          26552 non-null  float64
 20  HOME_TEAM_WINS    26651 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.3+ MB

In [135]:
# Check Nan values
games.isna().sum()

GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [136]:
games['PTS_home'] = games['PTS_home'].fillna(games['PTS_home'].mean())
games['FG_PCT_home'] = games['FG_PCT_home'].fillna(games['FG_PCT_home'].mean())
games['FT_PCT_home'] = games['FT_PCT_home'].fillna(games['FT_PCT_home'].mean())
games['FG3_PCT_home'] = games['FG3_PCT_home'].fillna(games['FG3_PCT_home'].mean())
games['AST_home'] = games['AST_home'].fillna(games['AST_home'].mean())
games['REB_home'] = games['REB_home'].fillna(games['REB_home'].mean())
games['PTS_away'] = games['PTS_away'].fillna(games['PTS_away'].mean())
games['FG_PCT_away'] = games['FG_PCT_away'].fillna(games['FG_PCT_away'].mean())
games['FT_PCT_away'] = games['FT_PCT_away'].fillna(games['FT_PCT_away'].mean())
games['FG3_PCT_away'] = games['FG3_PCT_away'].fillna(games['FG3_PCT_away'].mean())
games['AST_away'] = games['AST_away'].fillna(games['AST_away'].mean())
games['REB_away'] = games['REB_away'].fillna(games['REB_away'].mean())

In [137]:
# linear interpolate NaN values
# games = games.fillna(method='mean', limit=1)
games.drop(columns=['TEAM_ID_away'], inplace=True)
games.drop(columns=['TEAM_ID_home'], inplace=True)

In [138]:
# check for duplicates
games.drop_duplicates(inplace=True)

In [154]:
games.isna().sum()

GAME_DATE_EST       0
GAME_ID             0
GAME_STATUS_TEXT    0
HOME_TEAM_ID        0
VISITOR_TEAM_ID     0
SEASON              0
PTS_home            0
FG_PCT_home         0
FT_PCT_home         0
FG3_PCT_home        0
AST_home            0
REB_home            0
PTS_away            0
FG_PCT_away         0
FT_PCT_away         0
FG3_PCT_away        0
AST_away            0
REB_away            0
HOME_TEAM_WINS      0
dtype: int64

In [139]:
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,126.0,0.484,0.926,0.382,25.0,46.0,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,120.0,0.488,0.952,0.457,16.0,40.0,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,114.0,0.482,0.786,0.313,22.0,37.0,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,113.0,0.441,0.909,0.297,27.0,49.0,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,108.0,0.429,1.000,0.378,22.0,47.0,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,93.0,0.419,0.821,0.421,24.0,50.0,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,81.0,0.338,0.719,0.381,18.0,40.0,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,98.0,0.448,0.682,0.500,29.0,45.0,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,99.0,0.440,0.771,0.333,21.0,30.0,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,86.0,0.431,0.679,0.333,18.0,42.0,98.0,0.462,0.706,0.438,19.0,42.0,0

In [140]:
players = pd.read_csv('players.csv')
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7228 entries, 0 to 7227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  7228 non-null   object
 1   TEAM_ID      7228 non-null   int64
 2   PLAYER_ID    7228 non-null   int64
 3   SEASON       7228 non-null   int64
dtypes: int64(3), object(1)
memory usage: 226.0+ KB

In [141]:
players

           PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0        Royce O'Neale  1610612762    1626220    2019
1     Bojan Bogdanovic  1610612762     202711    2019
2          Rudy Gobert  1610612762     203497    2019
3     Donovan Mitchell  1610612762    1628378    2019
4          Mike Conley  1610612762     201144    2019
...                ...         ...        ...     ...
7223       Lanny Smith  1610612758     201831    2009
7224     Warren Carter  1610612752     201999    2009
7225      Bennet Davis  1610612751     201834    2009
7226    Brian Hamilton  1610612751     201646    2009
7227   Wesley Matthews  1610612762     500032    2009

[7228 rows x 4 columns]

In [142]:
# check for NaN values
players.isna().sum()

PLAYER_NAME    0
TEAM_ID        0
PLAYER_ID      0
SEASON         0
dtype: int64

In [143]:
# check for NaN values
players.dropna(inplace=True)

In [144]:
# check for duplicates
players.duplicated().sum()

0

In [145]:
teams = pd.read_csv('teams.csv')
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

In [146]:
teams.drop(columns=['LEAGUE_ID'], inplace=True)

In [147]:
teams

,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [148]:
rankings = pd.read_csv('ranking.csv')
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210342 entries, 0 to 210341
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TEAM_ID        210342 non-null  int64
 1   LEAGUE_ID      210342 non-null  int64
 2   SEASON_ID      210342 non-null  int64
 3   STANDINGSDATE  210342 non-null  object
 4   CONFERENCE     210342 non-null  object
 5   TEAM           210342 non-null  object
 6   G              210342 non-null  int64
 7   W              210342 non-null  int64
 8   L              210342 non-null  int64
 9   W_PCT          210342 non-null  float64
 10  HOME_RECORD    210342 non-null  object
 11  ROAD_RECORD    210342 non-null  object
 12  RETURNTOPLAY   3990 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 20.9+ MB

In [149]:
rankings.drop(columns=['RETURNTOPLAY', 'RETURNTOPLAY', 'LEAGUE_ID', 'SEASON_ID'], inplace=True)

In [150]:
rankings

,TEAM_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612743,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8
1,1610612763,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9
2,1610612740,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8
3,1610612756,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9
4,1610612746,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7
...,...,...,...,...,...,...,...,...,...,...
210337,1610612765,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29
210338,1610612738,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32
210339,1610612753,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37
210340,1610612755,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32
210341,1610612749,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36

In [157]:
head_coaches = pd.read_csv('head_coaches.csv')
head_coaches.info()
head_coaches

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                280 non-null    object
 1   Teams               280 non-null    object
 2   Start season        280 non-null    object
 3   End season          280 non-null    object
 4   Years in rule       280 non-null    int64
 5   Birth Date          280 non-null    object
 6   Nationality         280 non-null    object
 7   Start season short  280 non-null    int64
 8   End season short    280 non-null    object
 9   Num of teams        280 non-null    int64
dtypes: int64(3), object(7)
memory usage: 22.0+ KB

,Name,Teams,Start season,End season,Years in rule,Birth Date,Nationality,Start season short,End season short,Num of teams
0,Rick Adelman,"POR, GOS, SAC, HOU, MIN",1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
1,Richie Adubato,"DET, DAL, ORL",1979-1980,1996-1997,6,-,United States,1979,1996,3
2,Danny Ainge,PHX,1996-1997,1999-2000,4,"Mar 17, 1959",United States,1996,1999,1
3,Stan Albeck,"DEN, CLE, SAN, BRK, CHI",1970-1971,1985-1986,8,-,-,1970,1985,5
4,Kenny Atkinson,BRK,2016-2017,2019-2020,4,"Jun 2, 1967",United States,2016,2019,1
...,...,...,...,...,...,...,...,...,...,...
275,Brian Winters,"MEM, GOS",1995-1996,2001-2002,3,"Mar 1, 1952",United States,1995,2001,2
276,Randy Wittman,"CLE, MIN, WAS",1999-2000,2015-2016,10,"Oct 28, 1959",United States,1999,2015,3
277,Dave Wohl,BRK,1985-1986,1987-1988,3,"Nov 1, 1949",United States,1985,1987,1
278,Mike Woodson,"ATL, NYK",2004-2005,2013-2014,9,"Mar 24, 1958",United States,2004,2013,2
279,Draff Young,SAC,1973-1974,1973-1974,1,-,-,1973,1973,1

In [152]:
head_coaches['Teams'] = head_coaches['Teams'].str.split(', ')

head_coaches_exploded = head_coaches.explode('Teams').reset_index(drop=True)

head_coaches_exploded

,Name,Teams,Start season,End season,Years in rule,Birth Date,Nationality,Start season short,End season short,Num of teams
0,Rick Adelman,POR,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
1,Rick Adelman,GOS,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
2,Rick Adelman,SAC,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
3,Rick Adelman,HOU,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
4,Rick Adelman,MIN,1988-1989,2013-2014,23,"Jun 16, 1946",United States,1988,2013,5
...,...,...,...,...,...,...,...,...,...,...
559,Randy Wittman,WAS,1999-2000,2015-2016,10,"Oct 28, 1959",United States,1999,2015,3
560,Dave Wohl,BRK,1985-1986,1987-1988,3,"Nov 1, 1949",United States,1985,1987,1
561,Mike Woodson,ATL,2004-2005,2013-2014,9,"Mar 24, 1958",United States,2004,2013,2
562,Mike Woodson,NYK,2004-2005,2013-2014,9,"Mar 24, 1958",United States,2004,2013,2
563,Draff Young,SAC,1973-1974,1973-1974,1,-,-,1973,1973,1

In [153]:
head_coaches_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                564 non-null    object
 1   Teams               564 non-null    object
 2   Start season        564 non-null    object
 3   End season          564 non-null    object
 4   Years in rule       564 non-null    int64
 5   Birth Date          564 non-null    object
 6   Nationality         564 non-null    object
 7   Start season short  564 non-null    int64
 8   End season short    564 non-null    object
 9   Num of teams        564 non-null    int64
dtypes: int64(3), object(7)
memory usage: 44.2+ KB